<div class="h-16 w-20">
  <div class="inline-flex flex-col space-y-1 rotate-45 mt-3 ml-3">
    <div class="flex space-x-1">
        {{#if betweenInnings}}
        {{> base_open}}
        {{else}}
        {{#includes runners 1}}
        {{> base_filled}}
        {{else}}
        {{> base_open}}
        {{/includes}}
        {{/if}}

        {{#if betweenInnings}}
        {{> base_open}}
        {{else}}
        {{#includes runners 2}}
        {{> base_filled}}
        {{else}}
        {{> base_open}}
        {{/includes}}
        {{/if}}
    </div>
    <div>
        {{#if betweenInnings}}
        {{> base_open}}
        {{else}}
        {{#includes runners 3}}
        {{> base_filled}}
        {{else}}
        {{> base_open}}
        {{/includes}}
        {{/if}}
    </div>
  </div>
</div>
