<div class='text-2xl p-4'>
  <div class='mb-4 text-lg pb-2'>
    <div class='flex-1'>{{inningDescription}}</div>
  </div>
  <div class='flex space-x-8 items-center'>
    <div class='flex flex-col space-y-4' style="width: 28rem">
      <div class='flex space-x-8 items-center'>
        {{> scorecard }}
        {{> bases runners=runners}}
        {{> balls_and_strikes count=count}}
      </div>

      <div>
        <div class='text-lg'>
          <strong>Last Play:</strong> {{lastPlayDescription}}
        </div>
      </div>
    </div>

    {{> matchup betweenInnings=betweenInnings matchup=matchup}}
  </div>

  {{> last_x_plays plays=last3ScoringPlays}}
</div>

{{#if betweenInnings}}
  <div class="absolute bg-black text-white w-full -ml-4 py-4 text-center" style="top: 50%; transform: translateY(-50%);">
    <div class="text-2xl">{{upNext}} are up next!</div>
    <div class="text-lg">
      {{inningDescription}}
      {{#if hasRuns}} :: {{teamName}} are {{upOrDown}} {{lineScore.away.runs}}-{{lineScore.home.runs}} {{/if}}
    </div>
  </div>
{{/if}}
